<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the Number - Python</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Guess the Number</h1>
        <form action="/" method="post">
            <label for="level">Choose difficulty level:</label>
            <select name="level" id="level">
                <option value="1">Easy</option>
                <option value="2">Standard</option>
                <option value="3">Hard</option>
            </select>
            <button type="submit">Start Game</button>
        </form>
    </div>
    <footer class="footer">
       thayllaa &copy; 2024 - Guess the Number Game
    </footer>
</body>
</html>